body {
	font-family: Helvetica, Arial, Sans-Serif;
}

* {
	box-sizing: border-box;
}

header { 
	position: relative;
	margin-bottom: 0.5em;
}

.container {
	padding-left: 2%;
	padding-right: 2%;
}

.logo {
	position: relative;
	margin-top: 0.5em;
	margin-left: 5%;
	z-index: 2;
	display: inline-block;
}

.logo a {
	background-image: url('../images/logo.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: 150px;
	width: 180px;
	margin: 0 auto;
	text-indent: -9999px;
	border-left: 0.5em solid #6D513B;
	border-right: 0.5em solid #6D513B;
	background-color: #6D513B;
}

.menu {
	position: absolute;
	background-color: #6D513B;
	box-shadow: 0 1px 2px #D2BFB0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 20%;
}

.menu a {
	color: #FFF;
	text-decoration: none;
	padding: 0.7em;
	font-weight: bold;
	font-size: 1.2em;
}

.menu a:hover {
	color: #D2BFB0;
}

.thumbs {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.mini-thumbs {
	display: inline-block;
	flex-basis: 15%;
}

.mini-thumbs img {
	width: 100%;
	padding-bottom: 10%;
}

.main-thumb {
	display: inline-block;
	flex-basis: 75%;
}

.main-thumb img {
	width: 100%;
}

footer {
	background-color: #6D513B;
	color: #fff;
	padding-top: 1em;
	padding-bottom: 1em;
}